<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TeamChatServer.Properties.Settings.ConStr"
      connectionString="Data Source=localhost;Initial Catalog=TeamChat;User ID=YOURSQLUSER;Password=YOURPW"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true"></compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="TeamChatServer.TeamChatService">
        <endpoint contract="TeamChatInterfaces.ITeamChatService"
                  binding="netTcpBinding"
                  address="net.tcp://localhost:9455/TeamChatClient"
                  bindingConfiguration="mynet"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="mynet" sendTimeout="00:02:00" portSharingEnabled="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>


